<div class="container">
<div>
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSignup()">
        <div class="mb-3">
        <div class="text-danger" >
         <small></small>
        </div>
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username"  [(ngModel)]="username"  placeholder="Enter username" required >
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password"   [(ngModel)]="password" placeholder="Enter password" required>
        </div>
        <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" name="role" [(ngModel)]="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="employee">Employee</option>
        </select>
        </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email"   [(ngModel)]="email" placeholder="Enter Email" required>
        </div>
        <div class="mb-3">
        <label for="phone" class="form-label">Phone No</label>
        <input type="number" class="form-control" id="phone" name="phone"   [(ngModel)]="phone" placeholder="Enter Phone number" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign up</button>
    </form>
    <div class="login">
        <p>Already have an account? <a routerLink="">Login</a></p>
    </div>
</div>
</div>